include header.pug

body
    div.background

        div.container
            div.row.p-5
                div.col--centered.col--fixed-width
                    form
                        div.form-group.text-center.mt-3
                            h5 Information was saved successfully!
                        div.form-group.text-center.mt-4
                            a.btn.btn-primary.btn-success(href="/") Go back

    include promo.pug

    include footer.pug
