include header.pug

body
    div.background

        div.container
            div.row
                <div id="form-container" class="col--centered col--fixed-width">!{shopperForm}</div>

    //- some advertising how cool to be a shopper
    include promo.pug

    include footer.pug
