include header.pug

body
    div.background

        div.container
            div.row
                div#form-container.col--centered.col--fixed-width

    //- some advertising how cool to be a shopper
    include promo.pug

    include footer.pug
