//- additional block
div.container
    div.row
        div.col--centered
            div.inner
                h3 What's the right fit for you?

                div.positions-section.facelift
                    img(alt="Full Service Shopper",
                        src="https://d2nkqaulr5muje.cloudfront.net/assets/applicants/landing_page/fss-0d0094d4448fc65a0501b5395c748fe03674a4b5a785686022eb1978995c6d5a.jpg")
                    div.section-inner
                        div.positions-role.container
                            h4 Full-Service Shopper
                            p Shop and deliver orders
                            div.role-list
                                ul
                                    li Independent contractor
                                    li Access to a car required
                                    li Choose hours that work for you
                                    li Shop and deliver orders

                div.positions-section.facelift
                    img(alt="In Store Shopper",
                        src="https://d2nkqaulr5muje.cloudfront.net/assets/applicants/landing_page/iss-ad4b801edbc72c5e7b95c1363d98d7b2c6758c509e0b8afb5d79359aa7b2d5fb.jpg")
                    div.section-inner
                        div.positions-role.container
                            h4 In-Store Shopper
                            p Shop orders within a store
                            div.role-list
                                ul
                                    li Part-time employee
                                    li No vehicle required
                                    li Flexible schedule
                                    li Shopping only
