.background {
    background: green;
    width: 100%;
}
.col--centered {
    background: #fff;
    margin: 30px auto;
    padding: 1.5rem;
    border-radius: 0.25rem;
}
.col--fixed-width {
    width: 420px;
}
.btn--main-cta {
    width: 100%;
    height: 3rem;
}


