.background {
    background: transparent no-repeat center/cover url(/static/img/bg.jpg);
    width: 100%;
}
.col--centered {
    background: #fff;
    margin: 30px auto;
    padding: 1.5rem;
    border-radius: 0.25rem;
}
.col--fixed-width {
    width: 420px;
}
.btn--main-cta {
    width: 100%;
    height: 3rem;
}
.inner {
    display: table-cell;
}
.positions-section {
    width: 50%;
    padding: 1.5rem;
    display: table-cell;
}
.positions-section img {
    width: 90%;
}
.positions-role {
    margin-top: 1rem;
}
